@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab:wght@400;600&display=swap');
body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  
}
span,p,ul,li{
  font-family: 'Nunito', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Slab', serif;
}
li{
  list-style: none;
  padding: 10px;
  width: 100%;
}
ul{
  padding: 0;
}
a{
  color: #333;
  text-decoration: none;
}
a:hover{
  color: purple;
  text-decoration: none;
}
.bgChange{
  background-color: #333;
  color: #fff;
  text-decoration: wavy;
}
:root {
  --star-size: 20px;
  --star-color: #999;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
  .Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }